/*
    Slightly tweaked code from https://github.com/pradyunsg/furo/pull/500 vendored here until it
    gets merged. This adds a functioning version selector to the sidebar.
*/

#furo-versions {
    font-size: var(--sidebar-item-font-size);
    margin-bottom: 4em;
}

#furo-versions .latest-version {
    font-weight: bold;
}

#furo-versions .current-version {
    font-weight: bold;
}

#furo-versions .caption {
    display: inline-block;
    color: var(--color-sidebar-caption-text);
    font-weight: bold;
    text-transform: uppercase;
    font-size: var(--sidebar-caption-font-size);
    padding-right: var(--sidebar-expander-width);
    margin-top: 0;
}

#furo-versions input[type="checkbox"] {
    display: none;
    position: absolute;
    box-sizing: border-box;
    padding: 0;
    overflow: visible;
}

#furo-versions input[type="checkbox"]:checked ~ ul {
    display: inline-block;
    line-height: var(--sidebar-item-line-height);
    margin-left: var(--sidebar-item-spacing-horizontal);
    padding: var(--sidebar-item-spacing-vertical) var(--sidebar-item-spacing-horizontal);
    text-decoration: none;
}

#furo-versions ul {
    display: none;
}

#furo-versions .versions-label {
    position: relative;
    float: right;
}
